.heading {
    display: flex;
    padding: 20px;
}

.heading button {
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
}

.heading_flag {
    flex: 1;
    margin-right: 16px;
}

.heading_name, .heading_population,
.heading_area, .heading_gini {
    flex: 4;
    color: var(--text-color-secondary);
    font-weight: 700;

    display: flex;
    justify-content: center;
    align-items: center;
}

.heading_name {
    justify-content: flex-start;
}

.heading_arrow {
    color: var(--primary-color);

    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: 2px;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;

    text-align: center;

    background-color: var(--background-color-dark);
    border-radius: 8px;
    margin-bottom: 16px;

    box-shadow: var(--box-shadow);
    font-weight: 700;

    transition: transform 200ms ease-in-out, box-shadow 200ms ease-in-out;
}

.row:hover {
    cursor: pointer;
    transform: translateY(-4px);
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
}

.name {
    flex: 4;
    text-align: left;
}

.population {
    flex: 4;
}

.area {
    flex: 4;
}

.gini {
    flex: 4;
}

.flag {
    flex: 1;
    margin-right: 16px;
}

.flag img {
    border-radius: 2px;
    width: 100%;
}

.progress {
	background-color: #ABB4CC;
	border-radius: 20px;
	position: relative;
	margin: 15px 0;
	height: 20px;
	width: 225px;
}

.progress_done {
	background: linear-gradient(to left, #FB9B65, #FFC7A7);
	border-radius: 20px;
    align-items: center;
    justify-content: center;
	color: var(--text-color);
	height: 100%;
	width: 0;
	opacity: 1;
	transition: 1s ease 0.3s;
}

@media screen and (max-width: 720px) {
    .area, .heading_area {
        display: none;
    }
    
    .gini, .heading_gini {
        display: none;
    }
    
    .flag, .heading_flag {
        display: none;
    }
}